@model TicketViewModel

<ul id="slide-out" class="sidenav sidenav-fixed text-center">
    <a href="/tickets"><img src="https://cdn4.iconfinder.com/data/icons/eldorado-multimedia/40/bug-512.png" alt="logo" class="circle" id="logo"></a>
    <hr>
    <a href="#!"><img src="https://s3.us-east-2.amazonaws.com/upload-icon/uploads/icons/png/4649228851548336252-24.png" alt="search"></a>
    <hr>
    <a href="tickets/new"><img src="https://s3.us-east-2.amazonaws.com/upload-icon/uploads/icons/png/6540698631554126213-24.png" alt="add"></a>
    <hr>
    <div id="nav-bottom">
        <hr>
        <a href="#!"><img src="https://s3.us-east-2.amazonaws.com/upload-icon/uploads/icons/png/15211315791553239378-24.png" alt="menu"></a>
        <hr>
        <a href="#!"><img src="https://s3.us-east-2.amazonaws.com/upload-icon/uploads/icons/png/8905775431554126461-24.png" alt="questions"></a>        
        <hr>
        <a href="/logout"><img src="https://s3.us-east-2.amazonaws.com/upload-icon/uploads/icons/png/11600322591535351491-20.png" alt="logout"></a>
    </div>
</ul>

<h4 class="key">@HttpContextAccessor.HttpContext.Session.GetString("UserName")'s Dashboard &#9788;</h4>

<div class="grid-container">
    <div id="todo">
        @{var todo = Model.Tickets.Where(ticket => ticket.Status == "To Do").ToList();}
        <p class="heading">To Do (@todo.Count)</p>
        <hr>
        @foreach(var item in Model.Tickets)
        {
            @if(item.Status == "To Do") {
                <div class="card" id="myBtn" onclick=(openModal(@item.TicketId))>
                    <p>Bug: @item.Title</p>
                    <p>Priority: @item.Priority</p>
                    <p>Assigned To: @item.Assignment.firstName @item.Assignment.lastName</p>
                </div>
                <div id="@item.TicketId" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick=(closeModal(@item.TicketId))>&times;</span>
                        <h3 class="heading">Ticket #@item.TicketId</h3>
                        <hr>
                        <p class="heading">Task:</p> <p>@item.Title</p>
                        <p class="heading">Task Description:</p> <p>@item.Task</p>
                        <p class="heading">Priority Level:</p> <p>@item.Priority</p>
                        <p class="heading">Current Status:</p> <p>@item.Status</p>
                        <p class="heading">Assigned To:</p> <p>@item.Assignment.firstName @item.Assignment.lastName</p>
                        <p class="heading">Deadline:</p> <p class="deadline">@item.Deadline</p>
                        <hr>
                        @if(item.Assignment.UserId == @HttpContextAccessor.HttpContext.Session.GetInt32("UserId") && item.Assignment.UserId != item.Creator.UserId)
                        {
                            <form asp-action="EditTicket" asp-controller="home" asp-route-id="@item.TicketId" method="post" class="edit-select">
                                <select asp-for="@Model.Ticket.Status">
                                    <option value="" disabled selected>Update Status of Ticket</option>
                                    <option value="To Do">To Do</option>
                                    <option value="In Progress">In Progress</option>
                                    <option value="For Review">For Review</option>
                                    <option value="Resolved">Resolved</option>
                                </select>
                                <button>Submit</button>
                            </form>
                        }
                        @if(item.Creator.UserId == @HttpContextAccessor.HttpContext.Session.GetInt32("UserId"))
                        {
                            <a href="/tickets/@item.TicketId/edit">Edit Ticket</a>
                            <form asp-action="DeleteTicket" asp-controller="home" asp-route-id="@item.TicketId" method="post">
                                <button id="delete-btn"><a>Delete</a></button>
                            </form>
                        }
                    </div>
                </div>
            }
        }
    </div>
    <div id="progress">
        @{var progress = Model.Tickets.Where(ticket => ticket.Status == "In Progress").ToList();}
        <p class="heading">In Progress (@progress.Count)</p>
        <hr>
        @foreach(var item in Model.Tickets)
        {
            @if(item.Status == "In Progress") {
                <div class="card" id="myBtn" onclick=(openModal(@item.TicketId))>
                    <p>Bug: @item.Title</p>
                    <p>Priority: @item.Priority</p>
                    <p>Assigned To: @item.Assignment.firstName @item.Assignment.lastName</p>
                </div>
                <div id="@item.TicketId" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick=(closeModal(@item.TicketId))>&times;</span>
                        <h3 class="heading">Ticket #@item.TicketId</h3>
                        <hr>
                        <p class="heading">Task:</p> <p>@item.Title</p>
                        <p class="heading">Task Description:</p> <p>@item.Task</p>
                        <p class="heading">Priority Level:</p> <p>@item.Priority</p>
                        <p class="heading">Current Status:</p> <p>@item.Status</p>
                        <p class="heading">Assigned To:</p> <p>@item.Assignment.firstName @item.Assignment.lastName</p>
                        <p class="heading">Deadline:</p> <p class="deadline">@item.Deadline</p>
                        <hr>
                        @if(item.Assignment.UserId == @HttpContextAccessor.HttpContext.Session.GetInt32("UserId") && item.Assignment.UserId != item.Creator.UserId)
                        {
                            <form asp-action="EditTicket" asp-controller="home" asp-route-id="@item.TicketId" method="post" class="edit-select">
                                <select asp-for="@Model.Ticket.Status">
                                    <option value="" disabled selected>Update Status of Ticket</option>
                                    <option value="To Do">To Do</option>
                                    <option value="In Progress">In Progress</option>
                                    <option value="For Review">For Review</option>
                                    <option value="Resolved">Resolved</option>
                                </select>
                                <button>Submit</button>
                            </form>
                        }
                        @if(item.Creator.UserId == @HttpContextAccessor.HttpContext.Session.GetInt32("UserId"))
                        {
                            <a href="/tickets/@item.TicketId/edit">Edit Ticket</a>
                            <form asp-action="DeleteTicket" asp-controller="home" asp-route-id="@item.TicketId" method="post">
                                <button id="delete-btn"><a>Delete</a></button>
                            </form>
                        }
                    </div>
                </div>
            }
        }
    </div>
    <div id="review">
        @{var review = Model.Tickets.Where(ticket => ticket.Status == "For Review").ToList();}
        <p class="heading">For Review (@review.Count)</p>
        <hr>
        @foreach(var item in Model.Tickets)
        {
            @if(item.Status == "For Review") {
                <div class="card" id="myBtn" onclick=(openModal(@item.TicketId))>
                    <p>Bug: @item.Title</p>
                    <p>Priority: @item.Priority</p>
                    <p>Assigned To: @item.Assignment.firstName @item.Assignment.lastName</p>
                </div>
                <div id="@item.TicketId" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick=(closeModal(@item.TicketId))>&times;</span>
                        <h3 class="heading">Ticket #@item.TicketId</h3>
                        <hr>
                        <p class="heading">Task:</p> <p>@item.Title</p>
                        <p class="heading">Task Description:</p> <p>@item.Task</p>
                        <p class="heading">Priority Level:</p> <p>@item.Priority</p>
                        <p class="heading">Current Status:</p> <p>@item.Status</p>
                        <p class="heading">Assigned To:</p> <p>@item.Assignment.firstName @item.Assignment.lastName</p>
                        <p class="heading">Deadline:</p> <p class="deadline">@item.Deadline</p>
                        <hr>
                        @if(item.Assignment.UserId == @HttpContextAccessor.HttpContext.Session.GetInt32("UserId") && item.Assignment.UserId != item.Creator.UserId)
                        {
                            <form asp-action="EditTicket" asp-controller="home" asp-route-id="@item.TicketId" method="post" class="edit-select">
                                <select asp-for="@Model.Ticket.Status">
                                    <option value="" disabled selected>Update Status of Ticket</option>
                                    <option value="To Do">To Do</option>
                                    <option value="In Progress">In Progress</option>
                                    <option value="For Review">For Review</option>
                                    <option value="Resolved">Resolved</option>
                                </select>
                                <button>Submit</button>
                            </form>
                        }
                        @if(item.Creator.UserId == @HttpContextAccessor.HttpContext.Session.GetInt32("UserId"))
                        {
                            <a href="/tickets/@item.TicketId/edit">Edit Ticket</a>
                            <form asp-action="DeleteTicket" asp-controller="home" asp-route-id="@item.TicketId" method="post">
                                <button id="delete-btn"><a>Delete</a></button>
                            </form>
                        }
                    </div>
                </div>
            }
        }
    </div>
    <div id="resolved">
        @{var resolved = Model.Tickets.Where(ticket => ticket.Status == "Resolved").ToList();}
        <p class="heading">Resolved (@resolved.Count)</p>
        <hr>
        @foreach(var item in Model.Tickets)
        {
            @if(item.Status == "Resolved") {
                <div class="card" id="myBtn" onclick=(openModal(@item.TicketId))>
                    <p>Bug: @item.Title</p>
                    <p>Priority: @item.Priority</p>
                    <p>Assigned To: @item.Assignment.firstName @item.Assignment.lastName</p>
                </div>
                <div id="@item.TicketId" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick=(closeModal(@item.TicketId))>&times;</span>
                        <h3 class="heading">Ticket #@item.TicketId</h3>
                        <hr>
                        <p class="heading">Task:</p> <p>@item.Title</p>
                        <p class="heading">Task Description:</p> <p>@item.Task</p>
                        <p class="heading">Priority Level:</p> <p>@item.Priority</p>
                        <p class="heading">Current Status:</p> <p>@item.Status</p>
                        <p class="heading">Assigned To:</p> <p>@item.Assignment.firstName @item.Assignment.lastName</p>
                        <p class="heading">Deadline:</p> <p class="deadline">@item.Deadline</p>
                        <hr>
                        @if(item.Assignment.UserId == @HttpContextAccessor.HttpContext.Session.GetInt32("UserId") && item.Assignment.UserId != item.Creator.UserId)
                        {
                            <form asp-action="EditTicket" asp-controller="home" asp-route-id="@item.TicketId" method="post" class="edit-select">
                                <select asp-for="@Model.Ticket.Status">
                                    <option value="" disabled selected>Update Status of Ticket</option>
                                    <option value="To Do">To Do</option>
                                    <option value="In Progress">In Progress</option>
                                    <option value="For Review">For Review</option>
                                    <option value="Resolved">Resolved</option>
                                </select>
                                <button>Submit</button>
                            </form>
                        }
                        @if(item.Creator.UserId == @HttpContextAccessor.HttpContext.Session.GetInt32("UserId"))
                        {
                            <a href="/tickets/@item.TicketId/edit">Edit Ticket</a>
                            <form asp-action="DeleteTicket" asp-controller="home" asp-route-id="@item.TicketId" method="post">
                                <button id="delete-btn"><a>Delete</a></button>
                            </form>
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function(){
        $('select').formSelect();
    });
</script>

<script>
    function openModal(id) {
        document.getElementById(id).style.display = "block";
        window.onclick = function(event) {
            if (event.target == document.getElementById(id)) 
            {
                document.getElementById(id).style.display = "none";
            }
        }
    }

    function closeModal(id) {
        document.getElementById(id).style.display = "none";
    }
</script>